.content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.container{
  width: 500px;
  height: 250px;
  outline: solid 1px rgb(216, 11, 11);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  margin: 0;
  width: 500px;
  height: 250px;
  outline: solid 1px rgb(216, 11, 11);
  display: flex;
  justify-content: center;
  align-items:last baseline;
}
