
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: solid 1px red; */
  height: 100vh;
}

.container{
  /* outline: solid 1px red; */
  width: 500px;
  height: 250px;
  /* margin: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo{

}