html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('./images/lioness_background_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  color: white;
}

img {
  width: 500px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .content{
    width: 100px;
    height: 60px;
    outline: solid 1px rgb(216, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer{
    font-size: smaller;
    width: 100px;
    height: 60px;
    outline: solid 1px rgb(216, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 250px;
  }
}
